[submodule "src/UE23CS151A/mini-project/py-typer"]
	path = src/UE23CS151A/mini-project/py-typer
	url = https://github.com/polarhive/py-typer
[submodule "src/UE23CS242A/mini-project/plisp"]
	path = src/UE23CS242A/mini-project/plisp
	url = https://github.com/polarhive/plisp
[submodule "src/UE23CS241A/mini-project/grab-n-go"]
	path = src/UE23CS241A/mini-project/grab-n-go
	url = https://github.com/polarhive/grab-n-go
[submodule "src/UE23CS251B/mini-project/almao"]
	path = src/UE23CS251B/mini-project/almao
	url = https://github.com/polarhive/almao
[submodule "src/UE23CS252B/mini-project/netmap-py"]
	path = src/UE23CS252B/mini-project/netmap-py
	url = https://github.com/polarhive/netmap-py
[submodule "src/UE23CS352A/Lab"]
	path = src/UE23CS352A/Lab
	url = https://github.com/polarhive/ML_F_PES2UG23CS368_Nathan_Paul
[submodule "src/UE23CS341A/mini-project/MockSmiths"]
	path = src/UE23CS341A/mini-project/MockSmiths
	url = https://github.com/pestechnology/PESU_EC_CSE_F_P82_Mock_API_Generation_Service_MockSmiths.git
[submodule "src/UE23CS343AB2/mini-project/yak"]
	path = src/UE23CS343AB2/mini-project/yak
	url = https://github.com/NavneetNayak/90_Project2_BD.git
[submodule "src/UE23CS351A/mini-project/MicroGrid"]
	path = src/UE23CS351A/mini-project/MicroGrid
	url = https://github.com/polarhive/MicroGrid
[submodule "src/UE23CS342AA3/mini-project/IoT-MP"]
	path = src/UE23CS342AA3/mini-project/IoT-MP
	url = https://github.com/polarhive/IoT-MP
