[submodule "src/UE23CS151A/mini-project/py-typer"]
	path = src/UE23CS151A/mini-project/py-typer
	url = https://github.com/polarhive/py-typer
[submodule "src/UE23CS242A/mini-project/plisp"]
	path = src/UE23CS242A/mini-project/plisp
	url = https://github.com/polarhive/plisp
[submodule "src/UE23CS241A/mini-project/grab-n-go"]
	path = src/UE23CS241A/mini-project/grab-n-go
	url = https://github.com/polarhive/grab-n-go
[submodule "src/UE23CS251B/mini-project/almao"]
	path = src/UE23CS251B/mini-project/almao
	url = https://github.com/polarhive/almao
[submodule "src/UE23CS252B/mini-project/netmap-py"]
	path = src/UE23CS252B/mini-project/netmap-py
	url = https://github.com/polarhive/netmap-py
[submodule "src/UE23CS352A/Lab"]
	path = src/UE23CS352A/Lab
	url = https://github.com/polarhive/ML_F_PES2UG23CS368_Nathan_Paul
