name: wiki

on:
  push:
    branches:
      - main
jobs:
  trigger-cloudflare:
    runs-on: ubuntu-latest
    steps:
      - name: Cloudflare build-hook
        run: |
          curl -d "" "$CF_BUILD_HOOK_URL"
        env:
          CF_BUILD_HOOK_URL: ${{ secrets.CF_BUILD_HOOK_URL }}
